*


# submodules
!.gitmodules
!vector
!docs/doxygen-awesome-css

# documentation
!docs
!doxyconf
!header.html
!*.dox
!*.css

!src
!tests
!examples
!imgs
!*.svg
!*.c
!*.h
!*.am
!*.ac

!.gitignore
!.clangd
!autogen.sh

config.h
aminclude_static.am
