name: Doxygen GitHub Pages Deploy Action

on:
  workflow_dispatch:
  workflow_call:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout latest
        uses: actions/checkout@v4

      - name: Generate Documentation
        uses: DenverCoder1/doxygen-github-pages-action@v2.0.0
        with:
          github_token: ${{ secrets.GH_PAGES_DEPLOYMENT_TOKEN }}
          branch: gh-pages
          folder: docs/html
          config_file: docs/doxyconf
          doxygen_version: 1.11.0
